backbone:
  _target_: src.backbones.OpenAIBackbone
  prompt:
    _target_: src.prompts.DetailedCMGPrompt
  model_name: gpt-4-1106-preview
  api_key: null
  parameters:
    seed: 76097149
    temperature: 0.8
preprocessor:
  _target_: src.preprocessors.SimpleCMGPreprocessor
  include_path: true
logger:
  use_wandb: true
  name: gpt-4-1106-preview_detailed
  project: lca_cmg
  local_artifact: false
data_src:
  _target_: src.data_sources.HFDataSource
  cache_dir: null
  hub_name: JetBrains-Research/lca-commit-message-generation
  configs:
  - default
  split: test
